*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{text-decoration:none;color:inherit;}
h1,h2,h3,h4{margin:0;}
img{width:100%;vertical-align:top;}
ul{padding:0;margin:0;list-style:none;}
ul li{padding:0;}
ol{margin:0;padding:0 0 0 20px;}
input,button{font-family:inherit;}
button{color:inherit;font:inherit;margin:0;border:none;text-transform:none;-webkit-appearance:button;}
html{height:100%;width:100%;overflow:hidden;padding:0;margin:0;}
body{margin:0;padding:0;height:100%;color:white; background: #000;font:normal 12px/1.5 "Helvetica Neue","Luxi Sans","DejaVu Sans",Arial,"Hiragino Sans GB",STHeiti,'Microsoft Yahei',sans-serif;cursor:default;user-select:none;-webkit-user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:auto!important;}
.wh,.pages,.pos,.animate1{position:absolute;width:100%;height:100%;}
.page{position:absolute;width:100%;height:100%; overflow: hidden; top:0;}
.hide{display:none;}
.animate{width:100%;height:100%;position: absolute;display:none;}
.wangbo{width: 100%; color:#fff; font-size: 12px;text-align: center; position:absolute; left: 0; bottom: 2px; z-index: 999;}
#wrap{ width: 100%; height: 100%; position: absolute; top:0; overflow: hidden;}
/* Loader */
.page_arrow_bottom{position:absolute;left:50%;width:36px;height:36px;background-image:url(../img/arrow.png);-webkit-background-size:36px;background-size:36px; bottom: 3.5%;margin-left:-18px;opacity:0;-webkit-animation:swipeMove 1.5s 2s ease-in-out infinite;z-index:999;zoom:1;}

.page_arrow_right{position:absolute;top:50%;width:36px;height:36px;background-image:url(../img/arrow.png);-webkit-background-size:36px;background-size:36px; right: 20px;margin-top:-18px;opacity:0;-webkit-animation:page_arrow_right 1.5s 2s ease-in-out infinite;z-index:999;zoom:1;}

.loader{position:absolute;z-index:999;overflow:hidden;left:0;top:0;right:0;bottom:0;width:100%;height:100%;color:white;background-color:#000;}
.loader-graph,.loader-progress{overflow:hidden;position:absolute;left:50%;bottom:35%;width:128px;height:128px;margin:-32px 0 0 -64px;color:#ccc;}
.loader-graph{width:200px;height:200px;top:50%;left:50%;margin-top:-100px;margin-left:-100px;background:url(app/gcdxy/model/img/logo_dh.png) no-repeat;background-size:contain;-webkit-animation:rotate 0.72s linear infinite;-o-animation:rotate 0.72s linear infinite;animation:rotate 0.72s linear infinite;zoom:1;}
.loader-text{position:absolute;width:160px;height:160px;top:46%;left:50%;margin-top:-50px;margin-left:-80px;background:url(../img/logo2.png) no-repeat;background-size:contain;zoom:1;}
.loader-progress{font-size:26px;text-align:center;padding-top:80px;line-height:44px;zoom:1;}

/* music */
.music-icon{position:fixed;width:7%;height:7%;background-image:url(../img/music.png);background-repeat:no-repeat;background-position:center center;background-size:contain;top:-3px;right:3px;z-index:99;}
.music-icon:after{position:absolute;content:"";display:inline-block;left:-20px;right:-20px;top:-20px;bottom:-20px}
.music-icon.play{-webkit-animation:rotate 2.3s linear infinite}
@-webkit-keyframes rotate{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes page_arrow_bottom {
  0%, 30% { opacity: 0; transform: translate(0, 20px) }
  60% { opacity: 1; transform: translate(0, 0) }
  100% { opacity: 0; transform: translate(0, -16px) }
}
@-webkit-keyframes page_arrow_right {
  0%, 30% { opacity: 0; transform: translate(20px, 0) rotate(-90deg) }
  60% { opacity: 1; transform: translate(0, 0) rotate(-90deg) }
  100% { opacity: 0; transform: translate(-16px, 0) rotate(-90deg) }
}

/* Animation */
.scaleOut{opacity:0;-webkit-transform:scale(1.25);-webkit-transition:all .8s;transform:scale(1.25);transition:all .8s;}

@-webkit-keyframes swipeMove {
  0% {
  opacity:0;
  transform:translate3d(0,7px,0)
  }
  70% {
    opacity:1;
    transform:translate3d(0,0,0)
  }
  100% {
    opacity:0;
    transform:translate3d(0,-7px,0)
  }
}
@keyframes swipeMove {
  0% {
  opacity:0;
  transform:translate3d(0,7px,0)
  }
  70% {
    opacity:1;
    transform:translate3d(0,0,0)
  }
  100% {
    opacity:0;
    transform:translate3d(0,-7px,0)
  }
}


/*横屏观看*/
.mod-orient-layer {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #333;
  z-index: 9;
}

.mod-orient-layer__icon-orient {
  background-image: url("/app/gcdxy/model/img/phone.png");
  position: absolute;
  width: 100%;
  top: 38%;
  left: 50%;
  text-align: center;
  display: inline-block;
  width: 68px;
  height: 109px;
  margin-left: -34px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -webkit-animation: rotation infinite 1.5s ease-in-out;
  animation: rotation infinite 1.5s ease-in-out;
  -webkit-background-size: 67px;
  background-size: 67px;
}

.mod-orient-layer__desc {
  position: absolute;
  width: 100%;
  top: 56%;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color: #fff;
}

@-webkit-keyframes rotation{
  10%{transform:rotate(0deg);-webkit-transform:rotate(0deg);}
  50%,60%{transform:rotate(-90deg);-webkit-transform:rotate(-90deg);}
  90%{transform:rotate(0deg);-webkit-transform:rotate(0deg);}
  100%{transform:rotate(0deg);-webkit-transform:rotate(0deg);}
}
@keyframes rotation{
  10%{transform:rotate(0deg);-webkit-transform:rotate(0deg);}
  50%,60%{transform:rotate(-90deg);-webkit-transform:rotate(-90deg);}
  90%{transform:rotate(0deg);-webkit-transform:rotate(0deg);}
  100%{transform:rotate(0deg);-webkit-transform:rotate(0deg);}
}
